.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
.eslintrc*
eslint.config.js
tsconfig.json
node_modules/**
!node_modules/archiver/**
!node_modules/archiver-utils/**
!node_modules/buffer-crc32/**
!node_modules/compress-commons/**
!node_modules/crc-32/**
!node_modules/crc32-stream/**
!node_modules/lazystream/**
!node_modules/readable-stream/**
!node_modules/zip-stream/**
*.vsix
